[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = developing methods and testing
[access "refs/*"]
	owner = group user/Om Prakash Peddamadthala (OmprakashOrnold)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Om Prakash Peddamadthala (OmprakashOrnold)
	label-Verified = -1..+1 group user/Om Prakash Peddamadthala (OmprakashOrnold)
	push = group user/Om Prakash Peddamadthala (OmprakashOrnold)
	read = group user/Om Prakash Peddamadthala (OmprakashOrnold)
	rebase = group user/Om Prakash Peddamadthala (OmprakashOrnold)
	removeReviewer = group user/Om Prakash Peddamadthala (OmprakashOrnold)
	submit = group user/Om Prakash Peddamadthala (OmprakashOrnold)
[access "refs/heads/*"]
	create = group user/Om Prakash Peddamadthala (OmprakashOrnold)
	push = +force group user/Om Prakash Peddamadthala (OmprakashOrnold)
	pushMerge = group user/Om Prakash Peddamadthala (OmprakashOrnold)
	read = group user/Om Prakash Peddamadthala (OmprakashOrnold)
[access "refs/tags/*"]
	push = group user/Om Prakash Peddamadthala (OmprakashOrnold)
	push = +force group user/Om Prakash Peddamadthala (OmprakashOrnold)
